
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #fff;
    --color2: #a3a3a3;
    --color3: #334155;
    --color4: #001020;
    --color5: #0f172a;
    --color6: #6528f7;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
   color: var(--color1);
   background-color: var(--color4);
}

.bgsvgs{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 120%;
    opacity: 0.3;
    filter: blur(30px);
}

#portfolio{
    max-width: 968px;
    margin: 4rem auto;
    padding: 2.2rem;
    background: var(--color5) ;
    box-shadow: 0 0 6px 1px #00000045;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#portfolio::before{
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%);
   background: url(Assets/wave.svg) no-repeat;
   background-size: cover  ;
   height: 100%;
   width: 100%;
   z-index: -1;
   filter: blur(60px);
}

.photo{
    background: var(--color5);
    border: 1px solid var(--color4);
    border-radius: 50%;
}

.name{
    max-resolution: 0.8rem 0; 
}

.position{
    position: relative;
    width: 200px;
    height: 35px;
    display: inline-block;
    /* font-weight: 400; */
    background: var(--color6) ;
    border-radius: 8px;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0.3rem;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contactBox{
    margin-top: 1rem;
}
.contactBox div{
    margin-top: 0.4rem 0;
}

p{
    font-size: 0.9rem;
   font-weight: 300;
}
.line{
    display: inline-block;
    width: 93%;
    height: 2px;
    background-color: var(--color3);

}

.contentBox{
    text-align: left;
    align-items: flex-start;
    margin-top: 1.2rem;
    position: relative;
}

.contentBox h4{
    font-size: 1.2rem;
   
    margin-bottom: 0.4;
}

.left{
    width: 45%;
}

.right{
    width: 40%;
}

.contentBox .line{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 100%;
}

.left div{
    margin-bottom: 1.5rem;
}

h5{
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
.left p{
    display: inline;
    color: var(--color2);

}

span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--color6);
    border-radius: 3px;
    margin-right: 0.3rem;
}

.right p{
    display: inline-block;
    background: var(--color3);
    border-radius: 8px;
    padding: 0.4rem 0.6rem;
    margin: 0.3rem 0;
}

/* Media Quaries */
@media (max-width: 800px) {
    #portfolio{
        margin: auto;
        border-radius: 0;

    }
    
}

@media (max-width: 600px){
    .contactBox .contentBox{
        flex-direction: column;

    }

    .left, .right{
        width: 100%;
    }

    .contentBox .line{
        display: none;
    }
}

.animatedText {
    margin-top: -2px;
    position: relative;
    /* color: black; */
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-size: 48px; */
    display: inline-block;
    padding: 0;
    border-right: 1px solid #414141;
  }
  
  a{
     font-size: 0.9rem;
   font-weight: 300;
  }